.container{

    margin-bottom: 100px;
}

.orange-bg{

    background-color: #fceae8;
    border-radius: 10PX;
}

.carousel-item{

    padding: 20px 40px;
}

.price{

    color: rgb(184, 19, 47);
}

.buy-now{

    background-image: linear-gradient(to bottom, #FF589b 0%, #FF136F 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1, .cat2, .cat3{

    padding: 10px 30px;
}

.cat1{

    background-color: orange;
}

.cat2{

    background-color: orchid;
}

.cat3{

    background-color: powderblue;
}